<div class="workoutlistwhitecontainer"></div>
<div class="limiter">
    <div style="margin-left:15px;margin-top:5px">
        <div class="wrap-table100">
            <div class="table100">
                <script type="text/javascript">

                </script>
                <table class="tableWorkouts">
                    <thead>
                        <tr class="table100-head">
                            <th style="width: 60%">Name</th>
                            <th style="width: 40%">Count of exercises</th>
                        </tr>
                    </thead>
                    @foreach (var workout in Model.userWorkouts)
                    {
                        <tr onclick="RedirectWorkoutDetails(event)" class="backgroundColorWorkout">
                            <td style="width: 60%">@workout.Name</td>
                            <td style="width: 40%;">@workout.ExerciseCount</td>
                        </tr>

                    }
                </table>
            </div>
        </div>
    </div>
</div>
