
@{
    ViewData["Title"] = "Workout Details";
}
<div>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Name</th>                
            </tr>
        </thead>
        <tbody>
            @foreach( var exercise in Model.Excersice)
            {
                <tr class="backgroundColorWorkout">
                    <td style="width: 80%">@exercise.Name</td>                  
                </tr>
            }
        </tbody>
    </table>
</div>
