
@{
    ViewData["Title"] = "Index";
}

<h1>Register</h1>
<div>
    <form>
        <br />
        <br />
        <br />
        <h4 align=center>Create User</h4>
        <label for="First Name"></label>
        <input type="text" name="First name" placeholder="First name..." class=" form-control" />
        <label for="Last Name"></label>
        <input type="text" name="Last name" placeholder="Last name..." class=" form-control" />
        <label for="Age"></label>
        <select>
            <input type="number" min="1" max="100" name="Age" placeholder="Your age..." class=" form-control" />
        </select>
        <label for="Weight"></label>
        <select>
            <input type="number" min="1" max="1000" name="Weight" placeholder="Your weight in kg..." class=" form-control" />
        </select>
        <label for="Height"></label>
        <select>
            <input type="number" min="1" max="300" name="Height" placeholder="Your height in cm..." class=" form-control" />
        </select>
        <div>

        </div>
    </form>
</div>
