@{
    ViewData["Title"] = "Home Page";
}


<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
            <style>
               
                .dropbtn {
                    background-color: black;
                    color: white;
                    padding: 16px;
                    font-size: 16px;
                    border: none;
                }

                .dropdown {
                    position: relative;
                    display: inline-block;
                }

                .dropdown-content {
                    display: none;
                    position: absolute;
                    background-color: #f1f1f1;
                    min-width: 160px;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                    z-index: 1;
                }

                .dropdown-content a {
                    color: black;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;
                }

                .dropdown-content a:hover {
                   background-color: green;
                }

                .dropdown:hover .dropdown-content {
                    display:block;

                }

                .dropdown:hover .dropbtn {
                    background-color: black;
                }
                div.left
                {
                    text-align: start;
                }
                div.vl 
                {
                    border-left: 5px solid black;
                    height: 500px;
                    position: absolute;
                    left: 32%;
                    margin-left: -3px;
                }
                div.bs {
                    width: 200px;
                    border: 15px solid black;
                    border: 15px solid black;
                    padding: 50px;
                    margin: 0px;
                }
                
            </style>
        
    </head>
    <body>
        <div class="left">
            <h2>Account</h2>
        </div>
        <div class="vl"></div>
        <div class="bs">
            <div class="left">
                <h6>Name:</h6>
            </div>
        </div>
        <p></p>
        <div>
            <h2>
                Status:
                <div class="dropdown">
                    <button class="dropbtn">\/</button>
                    <div class="dropdown-content">
                        <p href="#"><h5>I am fcking massive</h5></p>
                        <p href="#"><h5>Skinny skinny little bitch</h5></p>
                        <a href="#"><h5>Am I Hulk or I am trippin'</h5></a>
                    </div>
                </div>
            </h2>
        </div>
        <p></p>
        <div>
            <h2>
                Friends:
            </h2>
            <div>
                <h4>
                    Display names names idk ask the group for friendslist
                </h4>
            </div>

        </div><centre><h1>FitnessTracker</h1></centre>

    </body>
</html>


