@{
    ViewData["Title"] = "Home Page";
}

<div id="bghomepage">

    <div class="mt-5 mb-5 pt-5" id="homeFullScreen">
        <div class="header-text text-center text-white">
            <h1>Fitness Tracker</h1>
            <div class="vertical-line"></div>
            <p>
                Some Random Text
                <br />
                Another random text.
            </p>
        </div><!-- End HeaderText -->
    </div>

</div>