@model IEnumerable<BodyPart> 

@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<style type="text/css">
    .tg  {border-collapse:collapse;border-spacing:0;}
    .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
        overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
        font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table class="tg">
    <thead>
        <tr>
        <th class="tg-0lax">Body Parts:</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bodyPart in Model)
        {
            <tr>
                <td class="tg-0lax">@bodyPart.Name</td>
            </tr>
        }
    </tbody>
</table>
