@{
    ViewData["Title"] = "Register";
}


<div class="bg-img">
    <form asp-controller="Auth" asp-action="Register" class="container">
        <h1>Register</h1>
        <br />
        <div class="row">
            <div class="column">
                <label for="First Name"><b>First name</b></label>
                <input type="text" name="FirstName"
                       style="width: 75%; border-color: black; border-radius: 25px; border-width: 1.5px" placeholder="First name..."
                       class="form-control" required>

                <label for="Last Name"><b>Last name</b></label>
                <input type="text" name="LastName"
                       style="width: 75%; border-color: black; border-radius: 25px; border-width: 1.5px" placeholder="Last name..."
                       class="form-control" required>

                <label for="Age"><b>Age</b></label>
                <input type="number" min="1" max="120" name="Age"
                       style="width: 75%; border-color: black; border-radius: 25px; border-width: 1.5px" placeholder="Age..."
                       class="form-control" required>
                <label for="Weight"><b>Weight</b></label>
                <input type="number" min="1" max="1000" name="Weight"
                       style="width: 75%; border-color: black; border-radius: 25px; border-width: 1.5px" placeholder="Your weight in kg..."
                       class="form-control" required>
            </div>
            <div class="column">              
                <label for="Height"><b>Height</b></label>
                <input type="number" min="1" max="300" name="Height"
                       style="width: 75%; border-color: black; border-radius: 25px; border-width: 1.5px" placeholder="Your height in cm..."
                       class="form-control" required>

                <label for="Username"><b>Username</b></label>
                <input type="text" name="Username"
                       style="width: 75%; border-color: black; border-radius: 25px; border-width: 1.5px" placeholder="Username..."
                       class="form-control" required>

                <label for="Password"><b>Password</b></label>
                <input type="password" name="Password"
                       style="width: 75%; border-color: black; border-radius: 25px; border-width: 1.5px" placeholder="Password..."
                       class="form-control" required>
            </div>
        </div>
        <button type="submit" class="btn">Register</button>
    </form>
</div>
