/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
/*
.mainDiv {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
}
*/
/*Insert a background image in home page*/
#bghomepage {
    /* The image used */
    background: url("/images/homephoto.jpeg") no-repeat center center;
    /* Full height */
    display: table;
    height: 100%;
    width: 100%;
    /* Center and scale the image nicely */
    background-size: cover;
}
html, body {
    height: 100%;
    width: 100%;
}

#main {
    width: 100%;
    height: 100%;
}

.container-fluid {
    height: 100%;
    width: 100%;
}

/*Insert a background image in Register page*/
.bg-img {
    /* The image used */
    background-image: url(/images/Building-a-Home-Gym.jpg);
    /* Control the height of the image */
    min-height: 720px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Add styles to the form container */
.registercontainer {
    position: absolute;
    left: 0;
    margin: 20px;
    max-width: 600px;
    padding: 50px;
    background-color: white;
}
.formcontainer.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Full-width input fields */
input[type=text], input[type=password], input[type=number] {
    width: 100%;
    padding: 15px;
    margin: 4px 0 22px 0;
    border: none;
    background: #f1f1f1;
    width: 75%;
    border-color: black;
    border-radius: 25px;
    border-width: 1.5px;
}

input[type=text]:focus, input[type=password]:focus, input[type=number]:focus {
       background-color: #ddd;
       outline: none;
}

/* Set a style for the submit button */
.regBtn {
    background-color: black;
    color: white;
    padding: 14px 40px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.btn:hover {
    opacity: 1;
}

.mycols {
    border: 5px;
}


/* Button Styles */

.button.regbtn {
    display: inline-flex;
    height: 40px;
    width: 150px;
    border: 2px solid #BFC0C0;
    margin: 20px 20px 20px 20px;
    color: #BFC0C0;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

a {
    color: #BFC0C0;
    text-decoration: none;
    letter-spacing: 1px;
}


/* First Button */

#button-2 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#button-2 a {
    position: relative;
    transition: all .35s ease-Out;
}

#slide {
    width: 100%;
    height: 100%;
    left: -200px;
    background: #BFC0C0;
    position: absolute;
    transition: all .35s ease-Out;
    bottom: 0;
}

#button-2:hover #slide {
    left: 0;
}

#button-2:hover a {
    color: #2D3142;
}

html, body {
    height: 100%
}

.dashboard {
    flex: auto;
    padding-bottom: 2.5rem;
}

.mainFooter {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}
