@model FitnessTracker.ViewModels.InsightsViewModel
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="ml-4 mr-4 h-100">
    <div class="row d-flex h-100">
        <div class="col-2 mycols">
            <h3 class="mb-5">Add activity</h3>
            <div class="button regbtn" id="button-2">
                <div id="slide"></div>
                <a href="#"><i class="fas fa-utensils"></i> Food</a>
            </div>
            <div class="button regbtn" id="button-2">
                <div id="slide"></div>
                <a href="#"><i class="fas fa-dumbbell"></i> Exercise</a>
            </div>
            <div class="button regbtn" id="button-2">
                <div id="slide"></div>
                <a href="#"><i class="fas fa-plus"> Workout</i></a>
            </div>
        </div>
        <div class="col-6 mycols border-left border-right">
            <h1>INSIGHTS!!!</h1>
        </div>
        <div class="col-3 mycols">
            <h3>Workouts !!!</h3>
        </div>
    </div>
</div>